* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fixed-left */
.full {
  display: flex;
}
.header-left {
  width: 22%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: red;
  color: white;
  padding: 8px 16px;
  opacity: 0.8;
}
.header-left .header-mutual-btn {
  display: flex;
  flex-direction: column;
}
.btn-header-left {
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  text-align: left;
  background: red;
  color: white;
}
.btn-header-left:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.header-mutual-h1 {
  padding: 64px 16px;
  margin: 10px 0;
  font-size: 16px;
}

/* header-right */
.header-right {
  margin: 80px 40px 0 320px;
  width: 78%;
}
.header-right-h1 {
  font-size: 65px;
  /* padding: 0.15px 16px; */
  margin: 10px 0;
}
.second {
  color: red;
  font-size: 60px;
}
.line {
  border-radius: 20px;
  width: 55px;
  border: 5px solid red;
  /* margin-left: 17px; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.two-column {
  display: flex;
  width: 100%;
  margin-bottom: 75px;
}

.picture {
  width: 100%;
  padding: 0 8px;
  margin-top: 16px;
  margin-bottom: -5px;
  opacity: 0.8;
}
.picture:hover {
  opacity: 1;
  cursor: pointer;
}

/* Services */
.p-mututal {
  font-size: 20px;
  margin: 16px 0;
}
.bottom {
  margin-bottom: 75px;
}

/*Designers*/
.designers-list {
  font-weight: 700;
  font-size: 20px;
  margin: 16px 0;
}
.designers-mutual {
  display: flex;
  margin-bottom: 75px;
}
.child {
  width: calc(100% / 3);
  margin-bottom: 16px;
  padding-right: 16px;
}
.child div {
  background: #f1f1f1;
  padding: 0.16px 16px;
  margin-top: -5px;
}
.name {
  font-weight: normal;
  margin: 10px 0;
}
.experience {
  margin: 16px 0;
  opacity: 0.8;
  font-weight: normal;
  font-size: 17px;
}
.describe {
  margin: 16px 0;
}

/* Packages */
.quality {
  display: flex;
}
.quality-basic {
  width: 50%;
  padding-right: 16px;
  margin-bottom: 81px;
}
.main-basic {
  background: #616161;
  padding: 30px 16px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.list {
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
.cost {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 10px 0;
}
.room {
  opacity: 0.8;
  font-size: 19px;
}
.list .basic {
  background: white;
  color: black;
  border: none;
  padding: 16px 30px;
  font-size: 16px;
}
.list .basic:hover {
  background: #000;
  color: white;
  cursor: pointer;
}
.main-pro {
  background: red;
  padding: 30px 16px;
  text-align: center;
  color: white;
  font-weight: normal;
}
.pro {
  background: red;
  color: white;
  border: none;
  padding: 16px 30px;
  font-size: 16px;
}
.pro:hover {
  background: #000;
  color: white;
  cursor: pointer;
}

/* Contact */
.footer {
  margin: 16px 0;
}
.footer p {
  font-size: 20px;
}
input {
  border: 1px solid #ccc;
  padding: 12px;
}
.send {
  width: 100%;
  background: red;
  color: white;
  border: none;
  padding: 20px 24px;
  margin-bottom: 75px;
  font-size: 17px;
}
.send:hover {
  color: #000;
  background: #ccc;
  cursor: pointer;
}
.menu {
  display: none !important;
}
/* Responsive */
@media only screen and (max-width: 600px) {
  .full {
    display: flex;
    flex-direction: column;
  }
  .header-left {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    bottom: unset;
    opacity: 1;
  }
  .header-right {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 97px;
  }
  .header-mutual-h1 {
    display: flex;
    padding: 8px 16px;
    font-weight: normal;
    align-items: center;
  }
  .header-mutual-btn {
    display: none !important;
  }
  .menu {
    display: block !important;
    padding: 8px 16px;
    margin-right: 16px;
    font-size: 24px;
  }
  .header-right-h1,
  .header-right-h1-second {
    padding: 0.16px 16px;
  }
  .line {
    padding: 0 16px;
    margin-left: 17px;
  }
  .two-column {
    flex-direction: column;
  }
  .child {
    width: 100%;
  }
  .designers-mutual {
    flex-direction: column;
  }
  .quality {
    flex-direction: column;
  }
  .quality-basic {
    width: 100%;
  }
}
